.container {
  width: 85vw;
}

.btn_back {
  display: flex;
  flex-direction: row;
}

.btn_back,
.btn_back i,
.btn_back span {
  text-decoration: none;
  color: var(--laranja);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.text_header_pix_pay {
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
}

.payPixChave {
  color: var(--azul);
  font-weight: 700;
  font-size: 1.7em;
}

.form_control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[name="key"] {
  width: 100%;
  height: 80px;
  padding: 20px;
  font-size: 1.4em;
  margin-bottom: 35px;
  border-radius: 20px;
  color: var(--azul-escuro);
  font-weight: 900;
}

.btn_payPix {
  border-radius: 50px;
  background: var(--laranja);
  width: 75%;
  height: 74px;
  /* padding: 25px; */
  margin-top: 20px;
  border: none;
  color: var(--branco);
  font-size: 1.25em;
  font-weight: 900;
}