:root {
  --laranja: #F28907;
  --azul-escuro: #1F2440;
  --azul-claro: #2e3661;
  --cinza: #E0E0E0;
  --branco: #FFF;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}