.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 90vw;
}

.headerExchange {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.imageExchange {
  width: 280px;
  height: 150px;
  border-radius: 30px;
  object-fit: cover;
}

.contentExchange {
  margin-top: 30px;
}

.inputAmount {
  width: 100%;
}